.welcome-container {
  background-image: url('https://raw.githubusercontent.com/ca-borja/frontend-exercise-borja/main/screenshot/pexels-andrea-piacquadio-927022%20-%201920%20x%201280.jpg');
  background-size: cover;
  min-height: 600px;
  box-shadow: 0px 0px 15px #00000080;
}